@model Contact

<form hx-post="@Url.Action("EditContact", "ClickToEdit", new RouteValueDictionary{{"id", @Model.Id}})" hx-target="this" hx-swap="outerHTML">
    <div>
        <label>First Name</label>
        <input type="text" name="firstName" asp-for="FirstName">
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input type="text" name="lastName" asp-for="LastName">
    </div>
    <div class="form-group">
        <label>Email Address</label>
        <input type="email" name="email" asp-for="Email">
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>&nbsp;<button class="btn" hx-get="@Url.Action("Index", "ClickToEdit")">Cancel</button>
    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()
</form>